<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js"></script>
  </head>
  <body>
    <div id="app">
        <div class="grid-container outline">
           <div class = "row">
                <div class = "col-1">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col" align="center">Pot 1</div>
                        </div>
                        <div class="div-table-row" v-for="team in Pot1">
                            <div class="div-table-col">{{team}}</div>
                        </div>
                    </div>
                </div>
                <div class = "col-1">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col" align="center">Pot 2</div>
                        </div>
                        <div class="div-table-row" v-for="team in Pot2">
                            <div class="div-table-col">{{team}}</div>
                        </div>
                    </div>
                </div>
               <div class = "col-1">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col" align="center">Pot 3</div>
                        </div>
                        <div class="div-table-row" v-for="team in Pot3">
                            <div class="div-table-col">{{team}}</div>
                        </div>
                    </div>
                </div>
                <div class = "col-1">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col" align="center">Pot 4</div>
                        </div>
                        <div class="div-table-row" v-for="team in Pot4">
                            <div class="div-table-col">{{team}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <button v-on:click="buttonClick">Simulate Draw</button>
            <br><br>
            <div class="row">
                <div class="col-1" v-for="group in groups">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-col" align="center">{{group.name}}</div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">{{group.One}}</div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">{{group.Two}}</div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">{{group.Three}}</div>
                        </div>
                        <div class="div-table-row">
                            <div class="div-table-col">{{group.Four}}</div>
                        </div>
                    </div>
                </div> 
            </div>  
        </div>
    </div> 
    <script src="app.js"></script> 
  </body>
</html>