
.flag-icon {
    width: 40px;
    height: 24px;
    position: relative;
}

.flag-b-icon {
    width: 30px;
    height: 30px;
    position: relative;
}

.flag-chosen {
    opacity: 0.3;
}

.team-name {
    position: relative;
    text-align: center;
}

.pots {
    position: relative;
    right: 60px;
}

.groups {
    position: relative;
    bottom: 300px;
}

.draw-button {
    position: relative;
    bottom: 450px;
    left: 60%;
}

@media all and (max-width:800px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 50%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
    }

@media all and (max-width:650px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }

.grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
        padding: 12px; 
        margin-left: 10%;
      /*  background-color: #FFDCDC; */
    }

    .col-1{ width: 6%; }
    .col-2{ width: 12.5%; }
    .col-4{ width: 25%; }
    .col-6{ width: 33.3%; }
    .col-8{ width: 50%; }
    .col-16{ width: 100%; }


    .outline, .outline *{
       /* outline: 1px solid #F6A1A1; */
    }

    /*-- some extra column content styling --*/
    [class*='col-'] > p {
    /* background-color: #FFC2C2; */
     padding: 0;
     /*margin: 40px; */
     text-align: center; 
     color: white; 
    }

.div-table {
  display: table;         
  width: auto;         
 /* background-color: #eee;    */     
 /* border: 1px solid #666666; */
 /* border-spacing: 5px; */ /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  height: 10px;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 60px; 
  height: 20px;
 /* background-color: #ccc;  */
}