
.group-flag-icon {
    width: 40px;
    height: 24px;
    left: 10px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 2px;
}

.group-col {
    position: relative;
    margin-right: 15px;
}

.group-row {
    position: relative;
    bottom: 10px;
}

.github-link {
    position: relative;
    bottom: 25px;
    left: 40px;
}

.hideLogo {
    display: none;
}

.loader {
  position: relative;
  left: 300px;
  bottom: 15px;
  border: 8px solid #C0C0C0;
  border-radius: 50%;
  border-top: 8px solid red;
  border-bottom: 8px solid red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pot-flag-icon {
    width: 40px;
    height: 24px;
    margin-left: 45px;
    margin-bottom: 2px;
    border-radius: 3px;
    position: relative;
}

.pot-team-name {
    position: relative;
    text-align: center;
    margin-left: 35px;
}

.logo {
    height: 90px;
    width: 60px;
    bottom: 20px;
    left: 300px;
    position: relative;
}

button {
    position: relative;
    left: 260px;
}

.flag-chosen {
    opacity: 0.3;
}

.group-team-name {
    position: relative;
    left: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.countdown {
    position: relative;
    left: 30px;
    bottom: 10px;
}

.pots {
    background-color: #90EE90;
}

@media all and (max-width:800px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 50%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%; 
        }

        .row .col-5 ~ .col-1{
            width: 100%; 
        }
    }

@media all and (max-width:650px){
        .col-1{ width: 50%;        }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }
    }

.grid-container{
        width: 100%; 
        max-width: 1200px;      
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
        padding: 6px; 
        margin-left: 3%;
      /*  background-color: #FFDCDC; */
    }

    .col-1{ width: 5.5%; }
    .col-2{ width: 12.5%; }
    .col-4{ width: 25%; }
    .col-6{ width: 33.3%; }
    .col-8{ width: 50%; }
    .col-16{ width: 100%; }


    .outline, .outline *{
       /* outline: 1px solid #F6A1A1; */
    }

    /*-- some extra column content styling --*/
    [class*='col-'] > p {
    /* background-color: #FFC2C2; */
     padding: 0;
     /*margin: 40px; */
     text-align: center; 
     color: white; 
    }

.div-table {
  display: table;         
  width: auto;         
 /* background-color: #eee;    */     
 /* border: 1px solid #666666; */
 /* border-spacing: 5px; */ /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  height: 10px;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 60px; 
  height: 20px;
 /* background-color: #ccc;  */
}