html
  head
    link(rel = "stylesheet" type = "text/css" href = "css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vuex/2.1.1/vuex.min.js")
  body
    div(id="app")
        div(class="grid-container outline")
           div(class = "row")
                div(class = "col-8 pots" v-for="(pot, potIndex) in pots")
                    div(class="div-table")
                        div(class="div-table-col" v-for="(team, teamIndex) in pot.teams")
                            img(:src="getImgPath(team.name)" class="pot-flag-icon" v-bind:class="{'flag-chosen': teamIsChosen(team.name, potIndex, teamIndex)}")
                            div(class="div-table-col pot-team-name") {{team.name}}
                    br   
           br
           div(class = "row")
               div(class = "col-3")
               img(src='img/logo.png' class='logo' v-on:click="buttonClick")
               h2 {{days}} : {{hours}} : {{minutes}} : {{seconds}}
           br
           div(class = "row")
             div(class="col-8 pots")
                div(v-for="group in groups")
                    div(class = "col-1")
                        div(v-for="team in group.teams")
                            img(:src="getImgPath(team.url)" class="group-flag-icon")
                            div(class="group-team-name") {{team.name}}  
    p Created by #[a(href="https://www.github.com/afreymiller") afreymiller] 

    script(src="js/app.js")


     